@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{
  padding-top: 21px;
  width: 100%;
  border-top: 10px solid #000;
  position: absolute;
  background: rgb(8,8,8,0.7);
  z-index: 1;
}

.bg-black { 
  background-color: #000; 
  padding-bottom: 21px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 8.4%;
}

.lang { 
  padding: 4px 1% 0 0;
  font-size: 13px;
}

.lang a { color: #FFF; }
.lang a:hover{ color: #B4CFB0;}
.lang a:first-child::after {
  content: '\007C';
  padding-left: 5px;
}

.facebook,
.twitter,
.pintrest,
.instagram,
.t,
.youtube,
.hamburger,
.share-nodes,
.search-icon,
.dot,
.arrow-left,
.arrow-right,
.quote {
  text-indent: -9999px;
}

.facebook::after { content: "\f39e"; }
.twitter::after { content: "\f099"; }
.pintrest::after { content: "\f231"; }
.instagram::after { content: "\f16d"; }
.t::after { content: "\54"; }
.youtube::after { content: "\f167"; }

.facebook::after,
.twitter::after,
.pintrest::after,
.instagram::after,
.t::after,
.youtube::after {
  color: #FFF;
  padding: 5px;
  background-color: #6B6B6D;
  font-family: "fontAwesome";
  font-size: 10px;
  float: right;
  text-indent: 0;
}

.facebook:hover::after,
.twitter:hover::after,
.pintrest:hover::after,
.instagram:hover::after,
.t:hover::after,
.youtube:hover::after {
  color: #6B6B6D;
  background-color: #B4CFB0;
}

.input-container { position: relative; }

.search {
  background-color: #6D6E72;
  border: none;
}

.input-container img {
  position: absolute;
  width: 5%;
  top: 5px;
  right: 2px;
}

.logo {
  color: #fff;
  font-size: 31px;
}

.logo:hover { 
  color: #B4CFB0;
  transition: .5s ease-in;
}

nav{
  padding: 0 8%;
  display: flex;
  justify-content: start;
}

.nav-links { 
  padding: 17px 0 26px; 
  margin-left: 25.5%;
}

.nav-links li a,
.footer-links li a{ 
  padding: 0 2px;
  font-size: 15px;
  color: #FFF; 
}

.home { margin-right: 13px; }

.nav-links li a:hover,
.footer-links li a:hover { 
  color: #B4CFB0;
  transition: .5s ease-in;
}

.vertical::after {
  content: "\007C";
  padding-left: 8px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* Banner styling starts here */
.banner {position: relative;}
.banner-img { display: none; }
.banner-img:first-child { display: block ;}

.image-slider{ position: relative; }

.arrow-left::after { 
  content: "\f104"; 
  position: absolute;
  top: 347px;
  left: 79px;
}

.arrow-right::after { 
  content: "\f105"; 
  position: absolute;
  top:347px;
  right: 79px;
}

.arrow-left::after, 
.arrow-right::after {
  font-family: "fontAwesome";
  color: #FFF;
  float:right;
  font-size: 74px;
  text-indent: 0;
}

.arrow-left:hover::after,
.arrow-right:hover::after {
  color: #000;
  transition: 0.5s ease-in;
}

.dots { 
  position: absolute;
  bottom: 58px;
  left: 720px;
}

.dot::after {
  content: "\f192";
  color: #FFF;
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
  font-size: 13px;
}

.dot:hover::after {
  color: #000;
  transition: .5s ease-in;
}

.dot.active::after { color: #000;}
/* Banner styling ends here */

/* Image-galler styling ends here */
.gallery {
  margin: 23px 11% 69px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.gallery li:nth-child(2){ position: relative;}

.see {
  position: absolute;
  top: 150px;
  right: 250px;
  color: #9B2B74;
  font-size: 23px;
}

.see:hover,
.see:hover::after  { 
  color: #000;
  transition: .5s ease-in;
}

.see::after {
  content: "\f101";
  color: #A62863;
  font-family: "fontAwesome";
  font-size: 20px;
}

.gallery li:nth-child(3){ position: relative }
.quote { position: absolute; }

.quote::after {
  content: "\f10d";
  position: absolute;
  top: 50px;
  right: 258px;
  color: #FFF;
  float: right;
  font-family: "fontAwesome";
  font-size: 20px;
  text-indent: 0;
}
/* Image-gallery styling ends here */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding-top: 32px;
  background-color: #000; 
}

.footer-social-links li a { padding: 0 2px;}

.footer-main { 
  padding: 30px 8% 52px;
  display: flex;
  justify-content: space-between;
}

.footer-main p { 
  color: #FFF; 
  font-size: 10px;
}

.footer-social-links {
  padding-right: 8%;
  display: flex;
  justify-content: flex-end;
}

/* .footer-links { display: flex; } */

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 767px) {
  header { padding-top: 0; }

  .links,
  .nav-links {display: none;}

  .social-links { padding-right: 0; }

  .lang { 
    padding: 4px 1% 0 0;
    font-size: 12px;
  }

  nav {
    padding: 0 2% 30px;
    justify-content: space-between;
  }

  .icons { padding-top: 9px; }
  .icons a { padding: 0 14px}

  .search-icon::after,
  .hamburger::after,
  .share-nodes::after{
    color: #FFF;
    font-family: "fontAwesome";
    font-size: 18px;
    float: right;
    text-indent: 0;
  }

  .search-icon::after { content: "\f002";}
  .hamburger::after { content: "\f0c9"; }
  .share-nodes::after { content: "\f1e0"; }
  
  .arrow-left::after { 
    top: 147px;
    left: 20px;
    font-size: 42px;
  }
  
  .arrow-right::after { 
    top:147px;
    right: 20px;
    font-size: 42px;
  }

  .dots { 
    bottom: 25px;
    left: 258px;
  }

  .gallery { margin: 10px 11% 28px; }
  .dot::after { font-size: 17px; }
  .gallery li:last-child {display: none;}
  .gallery li:nth-child(5){ margin-top: 277px; }
  .gallery li:nth-child(2){ position: relative; }

  .footer-social-links,
  .footer-links{  display: none
  }

  .footer-main { 
    padding: 7px 0 45px;
    flex-direction:column;
    align-items: center;
  }

  .see {text-indent: -9999px}

  .see::after {
    position: absolute;
    top: 60px;
    left: 220px;
    color: #FFF;
    text-indent: 0;
    float: right;
  }
}